<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responder Solicitação</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container-editar {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .container-responder {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }
        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
        .card {
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <a onclick="history.go(-1)" class="btn btn-secondary m-3">Voltar</a>
    
    <div class="container mt-5">
        <h1 class="mb-4">Responder Solicitação</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="container-editar">
                    <form action="/responder_solicitacao/{{ solicitacao[0] }}" method="post" id="editForm">
                        <div class="mb-3">
                            <label for="username" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="username" name="username" value="{{ solicitacao[1] }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="telefone" class="form-label">Telefone</label>
                            <input type="text" class="form-control" id="telefone" name="telefone" value="{{ solicitacao[2] }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ solicitacao[3] }}" readonly>
                        </div>
                        <div class="mb-2">
                            <label for="setor" class="form-label">Setor</label>
                            <input type="text" class="form-control" id="setor" name="setor" value="{{ solicitacao[4] }}" readonly>
                        </div>
                        <div class="mb-2">
                            <label for="assunto" class="form-label">Assunto</label>
                            <input type="text" class="form-control" id="assunto" name="assunto" value="{{ solicitacao[5] }}" readonly>
                        </div>
                        <div class="mb-2">
                            <label for="detalhes" class="form-label">Detalhes</label>
                            <textarea class="form-control" id="detalhes" name="detalhes" rows="6" readonly>{{ solicitacao[6] }}</textarea>
                        </div>
                        
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container-responder">
                    <div id="formResposta{{ solicitacao[0] }}">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Responder Solicitação</h5>
                                <form id="formResposta" action="/respondr/{{ solicitacao[0] }}" method="post">
                                    <div class="mb-4">
                                        <label for="comentario{{ solicitacao[0] }}" class="form-label">Comentário</label>
                                        <textarea class="form-control" id="comentario{{ solicitacao[0] }}" name="comentario" rows="20"></textarea>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Script para redirecionar após o envio do formulário -->
    <script>

    // Função para armazenar o valor do campo de texto de resposta em localStorage
    function salvarResposta(id) {
        var resposta = document.getElementById('comentario' + id).value;
        localStorage.setItem('resposta_' + id, resposta)
    }

    // Verifica se há uma resposta armazenada em localStorage e preenche o campo de texto de resposta
    window.onload = function() {
        var idSolicitacao = "{{ solicitacao[0] }}";
        var respostaSalva = localStorage.getItem('resposta_' + idSolicitacao)
        if (respostaSalva) {
            document.getElementById('comentario' + idSolicitacao).value = respostaSalva;
        } else {
            // Limpa o campo de texto de resposta se não houver resposta armazenada
            document.getElementById('comentario' + idSolicitacao).value = ""
        }
    }

    // Adiciona um evento para salvar a resposta sempre que houver uma mudança no campo de texto de resposta
    var idSolicitacao = "{{ solicitacao[0] }}"
    document.getElementById('comentario' + idSolicitacao).addEventListener('input', function() {
        salvarResposta(idSolicitacao);
    })

    document.getElementById('editForm').addEventListener('submit', function() {
        // Redireciona para a página home.html após o envio do formulário
        window.location.href = 'home.html'
    })

    </script>
</body>
</html>


