<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCY - Home Usuário</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
</head>
<body class="d-flex flex-column">
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-scroll shadow p-2 mb-5 p-2" style="background-color: #0159a0;">
            <div class="container-fluid">
                <a class="navbar-brand text-light" href="#">SYC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarExample01" aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarExample01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link text-light" aria-current="page" href="/">Home</a>
                        </li>
                    </ul>
                    {% if is_admin %}
                      <a href="/gestao" class="btn btn-outline-light rounded-pill border border-2">Gestão</a>
                    {% endif %}

                    <a href="/solicitacao" class="btn btn-outline-light rounded-pill border border-2">Solicitação</a>
       
                </div>
            </div>
        </nav>
    </header>   

    <main class="flex-fill">f
        <section class="">
        <div class="container mt-5">
            <div class="text-animado">
                <h1 class="text-primary mb-4 fs-2" >Vejas suas reclamações</h1>
            </div>
            <div class="row">
                {% for solicitacao in solicitacoes %}
                <div class="col-md-6 mb-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-4 align-items-center d-flex">
                            <img src="/static/IMG/soli.png" class="img-fluid rounded-start" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title d-flex justify-content-center text-primary fs-2 p-4">{{ solicitacao[1] }}</h5>
                              <div class="d-flex justify-content-around">
                                <p class="btn btn-outline-primary rounded-pill">Setor: {{ solicitacao[4] }}</p>
                                <p class="btn btn-outline-primary rounded-pill">Assunto: {{ solicitacao[5] }}</p>
                              </div>
                              <div class=" border border-2 rounded m-2 p-3">
                                <p class="card-text"><strong>Detalhes:</strong> {{ solicitacao[6] }}</p>
                              </div>
                              {% if is_admin %}
                              <div class="m-2 d-flex flex-row-reverse">
                                <a href="javascript:void(0);" onclick="confirmarExclusao('{{ solicitacao[0] }}')" class="btn btn-danger">Excluir</a>
                                <a href="/editar/{{ solicitacao[0] }}" class="btn btn-outline-danger">Editar</a>
                                <a href="#" class="btn btn-outline-primary" onclick="mostrarFormResposta('{{ solicitacao[0] }}')">Responder</a>
                              </div>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              {% if is_admin %}
                  
                  <div id="formResposta{{ solicitacao[0] }}" style="display: none;">
                      <div class="row">
                          <div class="col-md-6 mb-4">
                              <div class="card">
                                  <div class="card-body">
                                      <h5 class="card-title">Responder Solicitação</h5>
                                      <form id="formResposta" action="/responder/{{ solicitacao[0] }}" method="post">
                                          <div class="mb-3">
                                              <label for="comentario{{ solicitacao[0] }}" class="form-label">Comentário</label>
                                              <textarea class="form-control" id="comentario{{ solicitacao[0] }}" name="comentario" rows="3"></textarea>
                                          </div>
                                          <button type="submit" class="btn btn-primary">Responder</button>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    </main>
    
    <script src="/static/JS/script.js"></script>
    <!-- Bootstrap JS Bundle -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kC/xUUy9Vv6b7GfUzOy8CybPFtXCIV1pZ9TOyQ4KZzLcHvGDf4ksQr/xFwrk0B5K" crossorigin="anonymous"></script>
</body>
</html